.appear {
	transform: scale(0.1);
}

.appearActive {
	transform: scale(1);
	transition: all 500ms linear;
}




.block_cover{
  margin: 0 auto;
  width: 960px;
}

.block_cover h1{
  padding: 0;
  margin: 0 ;
  text-align: center;
padding: 20px;
font-size: 70px;
text-shadow: 6px 6px 0px rgba(123, 19, 19, 0.549);
}

.block_items_list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.block_item{
  padding: 0;
  margin: 0;
  width: 280px;
 

}

.block_information{
  width: auto;
  height: 486px;
  text-align: center;
 


}

.block_information img{
  width: 100%;
  height: auto;

}
.block_information img:hover{
  transform: scale(1.02);
  transition: 0.2s linear;

}



.block_information span{
  width: 100%;
  font-size:25px;
  font-weight: 700;
  transition: 0.2s linear;
  text-decoration: none; 
  text-decoration: none;
  color: rgb(76, 3, 3);
  
  
}

.block_information span:hover{
color: rgb(137, 130, 238);

}