.container {
  margin: 0 auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
padding: 15px;
}
.container img{
width: 30%;
}

.description {
  padding-left: 20px;
  width: 70%;
}

.img {
  width: 200px;
  max-height: 400px;
}

.description h1{
  text-align: center;
  padding: 7px;
  color: rgb(49, 41, 41);

text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.description p{
  color: white; text-shadow: black 0.1em 0.1em 0.2em
}



.description h3{
  color: white; text-shadow: black 0.1em 0.1em 0.2em
}
