*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, sans-serif;
  color: #212121;
  background-color: #fff;
  padding-bottom: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  text-decoration: none;
  list-style-type: none;
}

p {
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
